.news-archive {
  font-size: 1.4rem;
  max-width: 30em;
  margin: auto;
}

.news-archive__news-item::after {
  display: block;
  content: '';
  clear: both;
}

.news-archive__picture {
  display: block;
  width: 50%;
  float: left;
}

.news-archive__article-content {
  display: block;
  width: 50%;
  float: right;
}

.news-archive__link {
  display: block;
}

.news-archive__title {
  margin-bottom: 8px;
}

.news-archive__date {
  margin: 0;
  font-size: .7em;
  margin-bottom: .5em;
}

.news-archive__description {
  display: none;
  margin: 0;
  margin-bottom: 1em;
  font-size: .9em;
}
