.news-archive {
  margin: auto;
  padding: 0 20px;
  max-width: 30em;
  font-size: 1.4rem;
}

.news-archive__news-item {
  padding: 20px 0 !important;  
}

.news-archive__news-item::after {
  display: block;
  content: '';
  clear: both;
}

.news-archive__picture {
  display: block;
  width: 50%;
  float: left;
}

.news-archive__article-content {
  display: block;
  width: 50%;
  float: right;
  font-size: 16px;
}

.news-archive__link {
  display: block;
}

.news-archive__title {
  margin: 0;
  margin-bottom: 8px;
  line-height: 1;
  text-align: center;
}

.news-archive__date {
  margin: 0;
  margin-bottom: .5em;
  color: #222;
  font-size: .8em;
  text-align: center;
}

.news-archive__description {
  display: none;
  margin: 0;
  margin-bottom: 1em;
  font-size: .9em;
}
